@import "tailwindcss";

.mySwiper .swiper-pagination-bullet{
 @apply bg-yellow-300 w-4 h-4;
}

.clip-wave {
  clip-path: path(
    "M0,224L48,224C96,224,192,224,288,202.7C384,181,480,139,576,149.3C672,160,768,224,864,245.3C960,267,1056,245,1152,218.7C1248,192,1344,160,1392,144L1440,128L1440,320L0,320Z"
  );
}